*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* inizio header */
header{
    background-color: #b7cfe6;
    width: 100%;
    height: 550px;
}
header h1{
    border: 2px red solid;
    font-size: 62px;
}




/* inizio navbar */
nav{
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    z-index: 2;
}

.nav-left,.nav-right{
    border: 2px red solid;
    width: 400px;
    /* test */

}
/* fine navbar */

/* container big */

.container-big{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.textaside{
    width: 370px;
    height: 130px;
    background-color: green;
}

.free-trial{
    width: 236px;
    height: 47px;
    background-color: #3d56fd;
    color: white;
}

.unsubscribe{
    border: 2px red solid;
    width: 236px;
    height: 47px;
}

.set-text.sidetext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidetext>p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* fine container big */