*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


body{
    font-family: 'Open Sans', sans-serif;
}

/* inizio header */
header{
    position: relative;
    background-color: #b7cfe6;
    width: 100%;
    height: 740px;
}
header h1{
    font-size: 62px;
    position: relative;
    top: 85px;
}



/* inizio navbar */
nav{
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    height: 85px;
    width: 100%;

    background-color: #ffffff;
    padding: 20px;
    z-index: 2;
    box-shadow: 0px 16px 16px 5px rgba(0,0,0,0.1);
}


.nav-left,.nav-right{
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    font-size: 20px;
    text-decoration: underline;
    transition-duration: .3s;
}
nav a:not(:hover){
    font-size: 16px;
    transition-duration: .3s;
}

.nav-right a:nth-last-child(1){
    background-color: #3d56fd;
    color: white;
    padding: 8px 14px;
}


/* fine navbar */

/* container big */

.container-big{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 1200px;
}

.text{
    width: 370px;
    height: 130px;
}

.asidetext{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    padding-top: 120px;
    padding-left: 70px;
}

.free-trial,.plans a{
    width: 236px;
    height: 47px;
    background-color: #3d56fd;
    color: white;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.unsubscribe a{
    width: 236px;
    height: 47px;
    text-decoration: none;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-text.sidetext{
    display: flex;
    gap: 20px;
}

.sidetext>p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#img-header{
    position: relative;
    top: 120px;
    width: 820px;
    height: 488px;
}

.fa-arrow-down.fa{
    position: relative;
    font-size: 40px;
    top: 50px;
    right: 150px;
}
/* fine container big */

/* fine header */



/* inizio main */
/* inizio plans-container */

.plans-container{
    width: 60%;
    min-width: 1000px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}



h2{
    margin-bottom: 20px;
    margin-left: 0;
    width: 60%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.plans-btn{
    padding-bottom: 20px;
    max-width: 400px;
}

.total-plans{
    display: flex;
    gap: 20px;
}

.plans{
    width: calc(100% / 3);
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

h3{
    text-align: center;
}


.plans h3{
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 20px;   
}

#short-div-plans{
    padding-bottom: 22px;
}

.plans a{
    height: 47px;
}

.plans .how-often{
    text-align: left;
    color: grey;
    padding: 0 0 20px;
}

#plan-name{
    display: block;
    text-align: center;
}

a.style-none-shop{
    background-color: white;
    color: -webkit-link;
    margin: 0;
    text-decoration: underline;
    display: inline;
}
.upper-hr{
    padding-bottom: 20px;
}



.highlights {
    list-style: none;
    padding-top: 20px;
}

.highlights li{
    line-height:30px;
}

.highlights li:before {
    content: '\2714';
    color: blue;
    font-weight: 700;
  }

.indent{
    padding-left: 13px;
}
.indent-top{
    padding-left: 20px;
}


/* fine plans-container */

/* inizio .team4dropbox */
span .fa{
    display: inline;
    text-align: center;
}
span .fa:first-child{
    margin-right: 10px;
}


.team4dropbox span{
    display: flex;
    justify-content: center;
}

.team4dropbox{
    width: 60%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    border: blue 2px dotted;
    margin-bottom: 30px;
    position: relative;
    
}
.team4dropbox h3{
    display: flex;
    justify-content: flex-start;
    padding: 30px;   
}
.team4dropbox h4,p{
    padding: 0 30px 30px;
    max-width: 500px;
}

.team4dropbox a{
    position: absolute;
    top: 42px;
    right: 40px;
    
    width: 236px;
    height: 47px;
    background-color: #3d56fd;
    color: white;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fine .team4dropbox */

/* sezione partner */

.img-asidetext{
    display: flex;
    width: 60%;
    min-width: 1000px;
    max-height: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

.img-test{
    position: relative;
    bottom: 115px;
    right: 150px;
    
    transform: scale(.5);
    height: 535px;
    min-width: 625px;
    width: 60%;
}

.test.asidetext{
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0 20px 0;
}

.img-asidetext h3{
    text-align: left;
    padding-left: 0;
}

.img-asidetext a{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
}

.img-asidetext a:hover{
    font-size: 20px;
    text-decoration: underline;
    transition-duration: .3s;
    width: 200px;
}
.img-asidetext a:not(:hover){
    font-size: 16px;
    transition-duration: .3s;
    width: 150px;
}

/* fine partner */

/* inizio tag section */

#tag-section .options{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    width: 60%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

#tag-section .options .opt{
    height: 500px;
    border: dotted 2px darkblue;
    
    width: calc(100% / 3 - 50px / 3 * 2);
    padding: 20px;
}
.options{
    position: relative;
}

.opt img{
    transform: scale(.25);
}

/* stilizzazione colonne con opzioni */
.options .opt #img-col1{
    position: absolute;
    right: 360px;
    bottom: 640px;
}
.options .opt #img-col2{
    position: absolute;
    right: 0;
    bottom: 640px;
}
.options .opt #img-col3{
    position: absolute;
    left: 355px;
    bottom: 640px;
}
.options .opt #img-col4{
    position: absolute;
    right: 350px;
    bottom: 90px;
}
.options .opt #img-col5{
    position: absolute;
    right: 5px;
    bottom: 80px;
}
.options .opt #img-col6{
    position: absolute;
    right: -350px;
    bottom: 100px;
}



.box{
    width: 60%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    margin-bottom: 30px;
}

/* inizio sponsor */
/* test */
.adv-container{
    display: flex;
}

.adv-container .sponsor,.text-overflow{
    border: 1px dotted navy;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.adv-container .square{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}




/* .adv-container{
    display: flex;
    width: 100%;
}

.sponsor{
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 333px;
    height: 333px;
}


.sponsor {
  width: 666px;
  height: auto;
  display: flex;
  flex-grow: 1;
}

.square {
  background-color: orangered;
  position: relative;
  width: 50%;
  display: block;
  margin: 0;
}

.square > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.text-overflow{
    background-color: #f5f5f5;
    min-width: calc(100% / 3);
    height: 666px;
} */
/* fine sponsor */

/* inizio advice */
.advice{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #b7cfe6;
    height: 370px;
}

.prova{
    width: 100%; 
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
.advice span{
    color: #5f0a2b;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    height: 100px;
    width: 370px;
}

.advice .free-trial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    align-self: center;
}

/* fine advice */

/* inizio sezione FAQ */
.faq{
    padding: 30px 0 70px;
}

.faq hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.faq h2{
    padding: 170px 0 75px;
}

.faq h3{
    padding: 45px 0;
}

/* fine sezione FAQ */

/* fine main */

/* footer */
footer{
    height: 570px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 120px 0 0;
}

.footer-layout{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-column{
    padding: 10px;
    flex-grow: 1;
}

.footer-column ul{
    list-style-type: none;
}

.footer-column>h3{
    text-align: left;
    padding: 20px 0;
}

.footer-column li{
    color: white;
    margin: 20px 0;
}

#lang-set{
    width: 1200px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#language{
    display: flex;
    gap: 10px;
}

.fa{
    align-self: center;
    margin-right: 5px;
}

#short-hr{
    width: 126px;
}

/* finefooter */